/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@400;700&family=Roboto&display=swap');

:root{
	--first-font:'Orbitron', sans-serif;
	--second-font:'Poppins', sans-serif;
	--third-font:'Roboto', sans-serif;
}

/* Reset Css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: var(--second-font);
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	max-width: 1090px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Header */

.header {
	height: 60px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(0, 0, 0, 0.8);
}

.navigation-list {
	display: flex;
}

.navigation-item{
	padding-right: 30px;
	padding-left: 30px;
	font-size: 15px;
	line-height: 60px;
}

.navigation-item:hover{
	background-color: black;
}

.navigation-item a {
	text-decoration: none;
	color: white;
}

.slide-info{
	color: white;
}

.slider-feature-list{
	display: flex;
	margin-bottom: 40px;
}

.slider-feature{
	margin-right: 100px;
}

.slider-feature::after{
	display: inline-block;
	content: "";
	height: 1px;
	background-color: white;
	animation-name: leftToRightEffect;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes leftToRightEffect{
	from{
		width: 0px;
	}

	to{
		width: 45px;
	}
}

.m-slider{
	height: calc(100vh - 60px);
	width: 100%;
	position: relative;
}

.row{
	height:calc(100vh - 60px);
	display: flex;
	align-items: center;
	position: absolute;
}

.row.-pl40{
	padding-left: 40px;
}

.row.-pr40{
	padding-right: 40px;
}

.swiper-slide img{
	height: calc(100vh - 60px);
	width: 100%;
}

.swiper-pagination {
	background: white !important;
	padding: 17px 67px;
	width: 110px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute !important;
	left: 100%;
	bottom:0;
	transform: translateX(-100%);
}

.show-case-info{
	font-family: var(--first-font);
	font-size: 52px;
	line-height: 61px;
	max-width: 650px;
	margin-bottom: 30px;
}

.icon{
	display: inline-block;
	width: 55px;
	height: 28px;
	margin-bottom: 20px;
}

.icon.-renavation{
	background-image: url(./../image/car2_slider_icon1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.icon.-customization{
	background-image: url(./../image/car2_slider_icon2.png);
	background-repeat: no-repeat;
	background-position: center;
}

.btn{
	padding: 10px 25px;
	background-color: white;
	color: black;
	text-decoration: none;
	font-family: var(--third-font);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100px;
}

/* two-section */

.o-detail__desc{
	font-family: var(--first-font);
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

.show-case{
	position: relative;
}

.show-case-title{
	font-family: var(--first-font);
	font-size: 52px;
	font-weight: 700;
	line-height: 57px;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	position: absolute;
	top: 120px;
	left: 50px;
	color: #ffffff;
}

.show-case-card{
	height: 300px;
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: gray;
	padding: 20px;
}

.show-case-content {
	padding-right: 40px;
	padding-left: 40px;
	display: flex;
	position: relative;
}

.show-case-detail h3{
	font-family: var(--first-font);
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
}

.show-case-detail{
	padding-top: 40px;
}

.show-case-detail p{
	max-width: 60%;
	padding: 30px 0 ;
	font-family: var(--second-font);
	font-size: 14px;
	line-height: 25px;
}

.show-case-detail a{
	font-family: var(--second-font);
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	color: black;
	text-decoration: none;
}

.turbo{
	height: 60px;
	width: 60px;
	fill: #ffffff;
}

.panel{
	height: 80px;
	width: 80px;
	fill: #ffffff;
}

.show-case-card p{
	font-family: var(--first-font);
	font-size: 21px;
	font-weight: 700;
	line-height: 25px;
	color: #ffffff;
	max-width: 60%;
}

.show-case-card.panel-bg{
	background-image:url(../image/car2_section1_bg2.jpg);
	width: 280px;
	height: 290px;
}

.show-case-card.turbo-bg{
	background-image:url(../image/car2_section1_bg3.jpg);
	width: 280px;
	height: 290px;
}

.card-group{
	position: absolute;
	top: -100px;
	display: flex;
	right: 0;
}