/* Header */

.header {
	height: 60px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(0, 0, 0, 0.8);
}

.hamburger-menu-btn {
    display: none;
    height: 24px;
    width: 24px;
    border: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    background:no-repeat url(./../../icons/menu.svg) center / 24px;
}

.navigation-list {
	display: flex;
}

.navigation-item{
	padding-right: 30px;
	padding-left: 30px;
	font-size: 15px;
	line-height: 60px;
}

.navigation-item:hover{
	background-color: black;
}

.navigation-item a {
	text-decoration: none;
	color: white;
}